body {
      background-image: url(./images/forest.jpg);
      height: 100%;
      background-position: left bottom;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
    }
canvas {
        background-color: rgb(1, 84, 4);
      -webkit-box-shadow: 0px 0px 11px 15px rgba(34, 60, 80, 0.26) inset;
-moz-box-shadow: 0px 0px 11px 15px rgba(34, 60, 80, 0.26) inset;
box-shadow: 0px 0px 11px 15px rgba(34, 60, 80, 0.26) inset;
    }
    .pole{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
background-color: aliceblue;
    }